@mixin button-primary {
  background-color: $navy-blue;
  border-radius: $global_radius;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: rem-calc(16);
  padding: rem-calc(10) rem-calc(40);
  transition: background-color .2s;
  font-family: inherit;

  // Hover and focus.
  &:hover,
  &:focus {
    background-color: $lilac;
    text-decoration: none;
  }
}