.event-search {
  form {
    margin: rem-calc(30) 0 rem-calc(40);
    display: flex;
    gap: rem-calc(15);
    flex-wrap: wrap;

    .form-item {
      display: flex;
      flex-direction: column;
      gap: rem-calc(7);
    }

    .form-item-title {
      input[type=text] {
        padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(43);
        background: no-repeat $white url('../../images/icons/search--black.svg') 5% center;
      }
    }

    .form-actions {
      position: relative;
    
      input[type=submit] {
        @include button-primary;
        position: absolute;
        bottom: rem-calc(2);
      }
    }
  }
}