.page-log-in {
  .overwatch-logo {
    position: relative;
    text-align: center;
    z-index: 2;
  }

  main {
    background: $white;
    height: 76vh;
    margin: 0 auto;
    max-width: rem-calc(590);

    &::after {
      background: no-repeat $white url('../../images/overwatch-watermark.png');
      bottom: 10px;
      content: "";
      height: 608px;
      position: absolute;
      right: 0;
      width: 602px;
      z-index: 1;
    }
  }
  .login-form-wrapper {
    border: 1px solid $grey;
    border-radius: $global_radius;
    padding: rem-calc(20);
    position: relative;
    z-index: 2;

    @media screen and (min-width: $breakpoint_s) {
      padding: rem-calc(40);
    }

    h2 {
      font-size: rem-calc(40);
      margin: 0 0 rem-calc(38);
      text-align: center;
    }
  }

  .region--content {
    display: flex;
    flex-direction: column-reverse;
  }

  div[role=alert] {
    text-align: center;

    a {
      color: $orange-rust;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .user-login-form {
    .form-item {
      display: flex;
      flex-direction: column;
      margin-bottom: rem-calc(30);

      label {
        color: $charcoal;
        margin-bottom: rem-calc(5);
      }

      .description {
        color: $gray68;
        font-size: rem-calc(14);
        margin-top: rem-calc(5);
      }
    }

    .form-actions {
      margin-bottom: rem-calc(10);

      input[type=submit] {
        @include button-primary;
        width: 100%;
      }
    }
  }
}
