main {
  .views-exposed-form form,
  form.views-exposed-form,
  .user-login-form {

    // Text Field.
    input[type=text],
    input[type=password] {
      padding: rem-calc(10);
      border-radius: $global_radius;
      border: 1px solid $grey;
      font-size: rem-calc(16);

      &::placeholder {
        color: rgba($charcoal,.36);
        font-family: $font_worksans;
      }

      &:focus,
      &:active {
        outline: none;
        border-color: $navy-blue;
      }
    }


    // Select Field.
    .js-form-type-select {
      position: relative;

      select {
        padding: rem-calc(11);
        border-radius: $global_radius;
        border: 1px solid $grey;
        min-width: rem-calc(114);
        font-family: inherit;
        appearance: none;
        color: $charcoal;
        background: no-repeat $white url('../../images/icons/chevron-down--black.svg') 90% center;

        &:focus,
        &:active {
          outline: none;
          border-color: $navy-blue;
        }
      }
    }
  }

  // Pager Full.
  .pager {
    margin-top: rem-calc(30);

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      gap: rem-calc(16);

      .pager__item--first,
      .pager__item--last {
        display: none;
      }

      .pager__item {
        a {
          color: $charcoal;
          font-weight: 600;
          text-decoration: none;
          transition: color .2s;

          &:hover,
          &:active {
            color: $orange-rust;
          }
        }

        &.is-active {
          background-color: $orange-rust;
          width: rem-calc(24);
          height: rem-calc(24);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

          a {
            color: $white;
          }
        }
      }
    }
  }
}