.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  flex-basis: calc(20% - 20px);
}

.cursor {
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-number {
  font-size: 2em;
  font-weight: bold;
}

.card-cron {
  font-size: 1.2em;
  font-weight: bold;
}

.card-label {
  font-size: 1em;
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(90% - 20px);
  }
}

.error-card {
  background-color: rgba(255, 221, 221, 0.21);
  border-left: 6px solid rgb(244, 67, 54);
}

.warning-card {
  background-color: rgba(255, 248, 205, 0.21);
  border-left: 6px solid rgb(255, 235, 59);
}

.security-update-card {
  background-color: rgba(221, 237, 255, 0.21);
  border-left: 6px solid rgb(33, 150, 243);
}

.all-updates-card {
  background-color: rgba(231, 255, 231, 0.21);
  border-left: 6px solid rgb(76, 175, 80);
}

.others-card {
  background-color: rgba(231, 255, 231, 0.21);
  border-left: 6px solid rgb(185, 163, 243);
}

.card-before {
  display: none;
  color: rgb(119, 119, 119);
  font-size: 0.8em;
  margin-top: 10px;
}

.view-header {
  font-size: 2em;
  color: rgb(51, 51, 51);
  margin-bottom: 1em;
}