.system-data-tables .views-exposed-form label {
  display: none;
}

.system-data-tables .views-exposed-form {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .system-data-tables .views-exposed-form {
    justify-content: center;
    max-width: 100%;
  }
}

.system-data-tables .views-exposed-form .form-item {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
}

.system-data-tables .views-exposed-form .form-text {
  border: none;
  border: 1px solid rgb(221, 221, 221);
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  flex-grow: 1;
  padding: 10px;
  padding-left: 2rem;
}

.system-data-tables .views-exposed-form .form-text:focus {
  outline: none;
}

.system-data-tables .views-exposed-form .form-submit {
  background-color: rgb(52, 37, 116);
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 0 4px 4px 0;
  height: 3em;
}
