/**
 * Breakpoints.
 */


// Smaller.
$breakpoint_xxxs: 390px;

// Smaller.
$breakpoint_xxs: 420px;

// Extra Small.
$breakpoint_xs: 576px;

// Small.
$breakpoint_s: 768px;

// Large.
$breakpoint_l: 992px;

// Extra large.
$breakpoint_xl: 1200px;

// Extra extra large.
$breakpoint_xxl: 1400px;

