// --------------- COLOURS --------------- //

$alabaster: #F7F5F1;
$charcoal: #292D32;
$cream: #F7F5F1;
$grey: #DDDDDD;
$gray68: #ADADAD;
$lilac: #7A7398;
$navy-blue: #342574;
$olive-green: #748C3C;
$orange-rust: #F4782C;
$periwinkle: #8C81BE;
$slate-gray: #645484;
$tan: #D4AE77;
$white-opacity: rgba(255, 255, 255, 0.5);
$white: #FFF;

// --------------- DESIGN - FONTS --------------- //
$font_worksans: 'Inter', Sans-Serif;

// --------------- RADIUS --------------- //
$global_radius: 6px;