.overwatch-bp-dropdown-form {
  align-items: center;
  display: flex;
  justify-content: center;

  .form-select {
    align-items: center;
    background: $navy-blue;
    border: hidden;
    border-radius: rem-calc(6);
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: rem-calc(16);
    font-weight: 500;
    justify-content: space-between;
    padding: rem-calc(10);
    width: rem-calc(243);

    &:hover {
      background: $lilac;
    }
  }
}